body {
    padding: 0 5%;
    background-color: #DFF6FF;
}

h1, h2, h3 {
    font-family: 'Amatic SC', cursive;
    font-size: 5rem;
    color: #06283D;
}

p, li {
    font-family: 'Pangolin', cursive;
    font-size: 2rem;
    color: #1363DF;
}

/* Heading styles start */

.heading {
    text-align: center;
}

/* Heading styles end */

/* ToDoList styles start */

.tasks {
    overflow-x: hidden;
}

.list {
    background-color: rgba(28%, 71%, 100%, 0.7);
    border-radius: 10%;
    height: 450px;
    width: 500px;
}

.list h2 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 0;
}

.list .tasks {
    list-style-type: none;
    padding: 3%;
    height: 325px;
    width: 100%;
    display: inline-block;
}

.list .tasks .title p {
    color: orangered;
}

.list .tasks .row {
    padding: 5px 20px;
}

.list .tasks li {
    font-size: 1.5rem;
}

.list .center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.list .task{
    cursor: pointer;
}

/* ToDoList styles end */

/* ToDoLists styles start */

.lists {
    padding: 30px 0;
}

.add-task {
    padding: 50px 10%
}

.input-group {
    padding: 0 30px;
}

/* Notes styles start */

.notes {
    margin: 5% 0;
    height: 650px;
    width: 100%;
    text-align: center;
}

.notes .container, .notes .row {
    height: 100%;
}

.notes .allNotes {
    height: 600px;
    width: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}



/* Note styles start */

.note {
    background-color: #FFE459;
    padding: 2% 5%;
    text-align: center;
    height: 600px;
    overflow-y: auto;
}

.note .note_title {
    background: none;
    border: none;
    outline: none;

    font-family: 'Amatic SC', cursive;
    font-size: 3.5rem;
    color: #06283D;
    padding-bottom: 20px;
    width: auto;
    text-align: center;
}

.note .note_content {
    background: none;
    border: none;
    outline: none;
    font-family: 'Pangolin', cursive;
    font-size: 1.5rem;
    color: #1363DF;
    text-align: left;
    width: 100%;
    height: 90%;
    resize: none;
}

.note button {
    position: relative;
    font-size: 1.25rem;
    height: auto;
    width: auto;
    font-family: 'Pangolin', cursive;

}

/* SNote styles start */

.SNote {
    background-color: #FFE459;
    padding: 2% 5%;
    margin: 0 0 6%;
    text-align: center;
    height: 70%;
    overflow-y: auto;
}

.SNote h1 {
    font-size: 3.5rem;
    padding-bottom: 20px;
    width: auto;
    text-align: center;
}

.SNote p {
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
    height: 30%;
    resize: none;
}

.SNote p.note_date {
    font-size: 1rem;
}

.SNote button {
    text-align: right;
}

/* Login page */

.login {
    text-align: center;
}

.main {
    padding: 10% 30%;
    text-align: center;

}